[Unit]
Description=postgres_exporter for delivering metrics for Prometheus
Requires=network-online.target
After=network-online.target

[Service]
Restart=on-failure
User={{ postgres_exporter.service.user }}
Group={{ postgres_exporter.service.group }}
ExecStart={{ postgres_exporter.service.bin_dir }}/postgres_exporter
ExecReload=/bin/kill -HUP $MAINPID
EnvironmentFile={{ postgres_exporter.service.env_file }}

[Install]
WantedBy=multi-user.target
